<form name="login" action="/login" method="post">
  <div>
    <label>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="username" placeholder="Username" required />
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password" required />
  </div>

  <input type="submit" value="Login" />
</form>
