<div class="news news1">
    <strong><div class="title"></div></strong>
    <div class="content"></div>
</div>
<div class="news news2">
    <strong>  <div class="title"></div></strong>
    <div class="content"></div>
</div>
<div class="news news3">
    <strong> <div class="title"></div></strong>
    <div class="content"></div>
</div>