<form name="signup" action="/signup" method="post">
  <div>
    <label>Name: </label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
  </div>

  <div>
    <label>Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>

  <div>
    <label>Confirmed Password:</label>
    <input
      type="password"
      name="confirmedPassword"
      id="confirmedPassword"
      placeholder="Password"
      required
    />
  </div>

  <div>
    <label>Email:</label>
    <input type="email" name="email" placeholder="Email" id="email" required />
  </div>

  <div>
    <label>Cellphone:</label>
    <input
      type="number"
      name="cellphone"
      placeholder="cellphone"
      id="cellphone"
      required
    />
  </div>

  <div>
    <label>FavoriateType:</label>
    <input
      type="text"
      name="favouriteType"
      placeholder="Your favourite film type"
      id="favouriteType"
      required
    />
  </div>

  <input type="submit" value="Register!" />
</form>
