<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<div style="clear: both;">
    Number of Tickets:
    <input id="normalTicket" type="number" name="normalTicket" value="0" min="0"/>
    <label>Unit Price:</label>
    <label id="price"  name="price"></label>

   The total cost: <span id="money">0</span> <span>USD</span>
</div>