<form name="rating" action="/makeRatings" method="post">
  <div>
    <label>Your Name: </label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
  </div>

  <div>
    <label>Film Name:</label>
    <input
      type="text"
      name="filmname"
      id="filmname"
      placeholder="the film you want to rate"
      required
    />
  </div>

  <ul id="ratingList">
    <li><input type="radio" name="score" value="1" checked /> 1 star</li>
    <li><input type="radio" name="score" value="2" /> 2 star</li>
    <li><input type="radio" name="score" value="3" /> 3 star</li>
    <li><input type="radio" name="score" value="4" /> 4 star</li>
    <li><input type="radio" name="score" value="5" /> 5 star</li>
    <br />
  </ul>
  <h5>Please note that 5 is the highest score while 1 is the lowest.</h5>

  <input type="submit" value="Submit" />
  <p></p>
</form>
