<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<form name="deleteuser" action="/deleteuserCRUD" method="post">
  <input type="text" name="username" placeholder='Please input the username'>
  <input type="submit" value="Delete user">
</form>