<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<form name="addnews" action="/addnewsCRUD" method="post">
    <input type="text" name="title" placeholder='Title of Ads'>
    <input type="text" name="content" placeholder='Text of Ads'>
    <input type="submit" value="Add news">
</form>