<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<form name="deletemovie" action="/deletemovieCRUD" method="post">
  <input type="text" name="movie" placeholder='Name of movie'>
  <input type="submit" value="Delete movie">
</form>