<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<form name="editmovie" action="/editmovieCRUD" method="post">
    <input type="text" name="movie" placeholder='the movie you want to edit' style="width:150px">

    <input type="text" name="movieNew" placeholder='New name of movie'>
    <div>
        <label>Type:</label>
        <input type="text" name="type" placeholder="Movie type">
        <label>Length:</label>
        <input type="text" name="length" placeholder="Length of movie">
        <label>Price:</label>
        <input type="number" name="price" placeholder="Price">
    </div>
    <div style="clear: both; color: #FFF">Hall:</div>
    <ul id="hallList">
        <li><input type="radio" name="hallNew" value="1">Room 1</li>
        <li><input type="radio" name="hallNew" value="2">Room 2 </li>
        <li><input type="radio" name="hallNew" value="3">Room 3</li>
        <li><input type="radio" name="hallNew" value="4">Room 4</li>
    </ul>
    <div style="clear: both; color: #FFF">New day(s):</div>
    <ul id="dayList">
        <li><input type="checkbox" name="dayNew" value="Monday" >Monday</li>
        <li><input type="checkbox" name="dayNew" value="Tuesday">Tuesday </li>
        <li><input type="checkbox" name="dayNew" value="Wednesday ">Wednesday </li>
        <li><input type="checkbox" name="dayNew" value="Thursday">Thursday</li>
        <li><input type="checkbox" name="dayNew" value="Friday">Friday</li>
        <li><input type="checkbox" name="dayNew" value="Saturday">Saturday</li>
        <li><input type="checkbox" name="dayNew" value="Sunday">Sunday</li>
    </ul><div style="clear: both; color: #FFF">New hour(s):</div>
    <ul id="hourList">
        <li><input type="checkbox" name="hourNew" value="8:00">8:00</li>
        <li><input type="checkbox" name="hourNew" value="8:30">8:30</li>
        <li><input type="checkbox" name="hourNew" value="9:00">9:00</li>
        <li><input type="checkbox" name="hourNew" value="9:30">9:30</li>
        <li><input type="checkbox" name="hourNew" value="10:00">10:00</li>
        <li><input type="checkbox" name="hourNew" value="10:30">10:30</li>
        <li><input type="checkbox" name="hourNew" value="11:00">11:00</li>
        <li><input type="checkbox" name="hourNew" value="11:30">11:30</li>
        <li><input type="checkbox" name="hourNew" value="12:00">12:00</li>
        <li><input type="checkbox" name="hourNew" value="12:30">12:30</li>
        <li><input type="checkbox" name="hourNew" value="13:00">13:00</li>
        <li><input type="checkbox" name="hourNew" value="13:30">13:30</li>
        <li><input type="checkbox" name="hourNew" value="14:00">14:00</li>
        <li><input type="checkbox" name="hourNew" value="14:30">14:30</li>
        <li><input type="checkbox" name="hourNew" value="15:00">15:00</li>
        <li><input type="checkbox" name="hourNew" value="15:30">15:30</li>
        <li><input type="checkbox" name="hourNew" value="16:00">16:00</li>
        <li><input type="checkbox" name="hourNew" value="16:30">16:30</li>
        <li><input type="checkbox" name="hourNew" value="17:00">17:00</li>
        <li><input type="checkbox" name="hourNew" value="17:30">17:30</li>
        <li><input type="checkbox" name="hourNew" value="18:00">18:00</li>
        <li><input type="checkbox" name="hourNew" value="18:30">18:30</li>
        <li><input type="checkbox" name="hourNew" value="19:00">19:00</li>
        <li><input type="checkbox" name="hourNew" value="19:30">19:30</li>
        <li><input type="checkbox" name="hourNew" value="20:00">20:00</li>
        <li><input type="checkbox" name="hourNew" value="20:30">20:30</li>
        <li><input type="checkbox" name="hourNew" value="21:00">21:00</li>
        <li><input type="checkbox" name="hourNew" value="21:30">21:30</li>
        <li><input type="checkbox" name="hourNew" value="22:00">22:00</li>
    </ul>
    <input type="submit" value="Edit movie">
</form>