<!-- SJSU CMPE 226 Spring 2020 Team4 -->
<h1>Search the movie you want</h1>

<form action="/searchmovies" method="post">
  <label for="search">Movie Name:</label>
  <input type="search" id="search" name="search" />
  <input type="submit" value="Submit" />
  <p></p>
</form>
